
.logo {
  height: 31px;
  margin: 0 24px 16px 0;
  float: left;
}

nz-header {
  width: 100%;
  display: flex;
  flex-direction: row;
}

[nz-menu] {
  line-height: 64px;
}

.menu-links {
  width: 100%;
  text-align: right;
  button {
    margin-left: 8px;
  }
}
